@using Relationships.Models
@model List<Student>

<h2>Student Details</h2>
<a asp-action="AddCourse" class="btn btn-primary">Add Course</a>
<a asp-action="AddStudent" class="btn btn-success">Add Student</a>
<table class="table">
    <tr>
        <th>Student Id</th>
        <th>Student Name</th>
        <th>Course Id</th>
        <th>Course Name</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Studentid</td>
            <td>@item.Studentname</td>
            <td>@item.Courseid</td> 
            <td>@item.Course?.Coursename</td> 
        </tr>
    }
</table>