@using NewMvcApp.Models
@model Product
<h2>Product Details</h2>

<p>Id:@Model.Id</p>
<p>Name: @Model.Name</p>
<p>Category: @Model.Category</p>
<p>Price: @Model.Price</p>
<a asp-action="Index">Back to List</a>