@model ContactInfo

<h2>Add Contact</h2>
<div class="row">
    <div class="col-md-4">
<form asp-action="Create" method="post">

    <div class="form-group">
        <label>First Name</label>
        <input asp-for="FirstName" />
    </div>
<span asp-validation-for="FirstName" class="text-danger"></span>
    <div class="form-group">
        <label>Last Name</label>
        <input asp-for="LastName" />
    </div>

    <div class="form-group">
        <label>Email</label>
        <input asp-for="EmailId" />
    </div>
<span asp-validation-for="EmailId" class="text-danger"></span>
    <div class="form-group">
        <label>Mobile</label>
        <input asp-for="MobileNo" />
    </div>
<span asp-validation-for="MobileNo" class="text-danger"></span>
    <div class="form-group">
        <label>Designation</label>
        <input asp-for="Designation" />
    </div>
<span asp-validation-for="Designation" class="text-danger"></span>
    <div class="form-group">
        <label>Company</label>
        <select asp-for="CompanyId" asp-items="ViewBag.Companies">
            <option value="">--Select Company--</option>
        </select>
    </div>
<span asp-validation-for="CompanyId" class="text-danger"></span>
    <div class="form-group">
        <label>Department</label>
        <select asp-for="DepartmentId" asp-items="ViewBag.Departments">
            <option value="">--Select Department--</option>
        </select>
    </div>
   <span asp-validation-for="DepartmentId" class="text-danger"></span>
    <br />

    <button type="submit">Save</button>
    <a href="Index">Back</a>

</form>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}