@model EXAPM.Models.ContactInfo

<h2>Add Contact</h2>

<form method="post" asp-action="AddContact">
    Id: <input type="number" name="ContactId" /><br />
    First Name: <input type="text" name="FirstName" /><br />
    Last Name: <input type="text" name="LastName" /><br />
    Email: <input type="email" name="EmailId" /><br />
    CompanyName: <input type="text" name="EmailId" /><br />
    MobileNo: <input type="number" name="EmailId" /><br />
    Designation: <input type="text" name="EmailId" /><br />
    <button type="submit">Save</button>
</form>