@model EXAPM.Models.ContactInfo

<h2>Contact Details</h2>
<p>Contactid:@Model.ContactId</p>
<p>Name:@Model.FirstName@Model.LastName</p>
<p>EmailId:@Model.EmailId</p>
<p>CompanyName:@Model.CompanyName</p>
<p>MobileNumber:@Model.MobileNo</p>
<p>Designation:@Model.Designation</p>
<a href="/Contact/ShowContacts">Back to List</a>