@using NewMvcApp.Models
@model Product
<h2>Product Details</h2>

<p>Id:@Model.Id</p>
<p>Name: @Model.Name</p>
<p>Category: @Model.Category</p>
<p>Price: @Model.Price</p>
<form asp-action="Delete" method="post">
    <input type="hidden"  name="id"  value="@Model.Id" />
    <p>Do you want to delete this Product details?</p>
    <button type="submit" class="btn btn-success">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

